<launch>
    <!-- Start Simulation -->
    <include file="$(find simulation)/launch/simulation.launch" />

    <!-- Start RVIZ -->
    <include file="$(find config_rviz)/launch/rviz.launch" />

    <!-- Start Manual Control -->
    <node pkg="planning" type="manual_control.py" name="manual_control" output="screen" />
</launch>