<launch>
    <!-- Start Simulation -->
    <include file="$(find simulation)/launch/simulation.launch" />

    <!-- Start Perception -->
    <include file="$(find perception)/launch/perception.launch" />

    <!-- Start Planning -->
    <include file="$(find planning)/launch/planning.launch" />

</launch>